@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    height: 100vh;
}

.card-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    width: 30%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.logo-container img {
    width: 20%;
}

.logo-container h1 {
    color: #C3DB94;
    font-size: 24px;
}

.card-container input {
    padding: 20px;
    border: 0;
    border-radius: 5px;
    color: #333;
    margin: 8px;
    width: 400px;
    height: 60px;
}

.card-container button {
    font-size: 16px;
    padding: 20px;
    border: 0;
    border-radius: 40px;
    color: #ffff;
    background-color: #C3DB94;
    margin: 32px;
    width: 400px;
    height: 60px;
    cursor: pointer;
}
