@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: #151515;
    color: white;
    padding: 24px 12%;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo-title {
    font-size: 24px;
    font-weight: bold;
    color: #C3DB94;
}

.logout-button {
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 50px;
    color: #C3DB94;
    background-color: #151515;
    border: 1px solid #C3DB94;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 80vh;
}

.main-col-1 {
    flex: 1 1 700px;
}

.main-col-2 {
    flex: 1 1 180px;
}

.card-row-1 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.card-col {
    flex: 1 1 250px;
    background-color: #222222;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 24px;
}

.sensor-title {
    font-size: 16px;
}

.sensor-readings {
    margin-top: 16px;
    text-align: center;
}

.sensor-reading {
    font-size: 64px;
    font-weight: bold;
    color: #C3DB94;
}

.card-row-2 {
    margin-top: 24px;
    width: 100%;
    height: 300px;
    background-color: #222222;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.alert-container {
    background-color: #222222;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.alert-title {
    font-size: 24px;
    font-weight: bold;
}


.footer-container {
    padding-top: 40px;
}

.footer-details {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 992px) {
    .header-container {
        padding: 20px 5%;
    }
}

@media (max-width: 768px) {

    .header-container {
        flex-direction: column;
        gap: 12px;
    }

    .logo-title {
        font-size: 20px;
    }

    .main-container {
        padding: 16px 5%;
    }

    .sensor-reading {
        font-size: 40px;
    }

    .alert-container {
        margin-top: 24px;
    }
}

@media (max-width: 480px) {
    .logout-button {
        padding: 10px 18px;
        font-size: 14px;
    }

    .sensor-reading {
        font-size: 32px;
    }
}
